<h1>What do you want to do with your note?</h1>
<%= @note.note %>  



<!-- (<FORM METHOD="LINK" ACTION="page1.htm"> 
<INPUT TYPE="submit" VALUE="Clickable Button"> 
</FORM>) 
 -->

<form action="/note/<%=@note.id%>/remove" method="link">
  <input type="submit" value="Delete me">
</form>
<br><br>

<!-- 
<form action="/note/<%=@note.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete me">
</form>
<br><br> -->



<form action='/note/<%=@note.id%>' method="post">
  <input type="text" name="note" placeholder="<%=@note.note%>">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update me"><br><br>
</form>





<a href="http://localhost:9393/notes">Back to my list</a>
